.App-name {
  color: #fff;
  font-size: 2rem;
}

.App-logo {
  height: 10vmin;
  width: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Added by me */

.wrapper {
  display: flex;
}
.wrapper ul {
  flex-basis: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper ul li {
  padding: 0.7rem 0.5rem;
  background: #eee;
}

/* Headings */
.category-list::before,
.product-list::before,
.shopping-list::before {
  display: block;
  font-weight: bold;
  padding: 0.7rem 0.5rem;
  background: #eee;
}
.category-list::before {
  content: 'Categories';
}
.product-list::before {
  content: 'Products';
}
.shopping-list::before {
  content: 'Shopping List';
}

.category {

}
.category.checked {
  background: #ff0;
  color: #000;
}

.product {
  display: none;
}
.product.visible {
  display: list-item;
}
